$font-body: "Roboto", sans-serif;
$font-title: "Shrikhand", sans-serif;
$color-1st: #9356DC;
$color-2nd: #FF79DA;
$color-3rd: #99E2D0;
$color-bg: #F6F6F6;


body {
    margin: 0;
    padding: 0;
    background-color: $color-bg;

    a, a:visited, a:hover, a:active {
        color: inherit;
        text-decoration: none;
    }
}

header {
    padding: 15px;
    padding-bottom: 10px;
    box-shadow: 0px 2px 4px #00000026;
    position: relative;
    display: flex;
    justify-content: space-between;

    img {
        width: 50vw;
    }
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    background-color: $color-bg;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: loadinghide 2s forwards; 
    animation: loadinghide 2s forwards;
}

.spinner {
   height:60px;
   width:60px;
   margin:0px auto;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border-left:6px solid #00000040;
   border-right:6px solid #00000040;
   border-bottom:6px solid #00000040;
   border-top:6px solid $color-1st;
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

@keyframes loadinghide {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0; display: none}
}
@-webkit-keyframes loadinghide {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0; display: none}
}


.location {
    padding: 13px;
    text-align: center;
    background-color: #EAEAEA;
    box-shadow: 0px 4px 4px  #00000040;
    font-family: $font-body;
    font-size: 16px;
    font-weight: 500;
    color: #353535;

    i {
        margin-right: 15px;
    }
}

h1 {
    font-weight: 700;
    font-size: 24px;
    color: black;
}

@mixin liked {
    font-size: 26px;
    background: linear-gradient($color-1st, $color-2nd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin heart-animation {
    label input {
        &:checked ~ .unchecked {
            @include liked;
            display: flex;
        }
        &:checked ~ .checked {
            display: none;
        }
    }

    i {
        font-size: 26px
    }

    input[type=checkbox] {
        display: none;
    }

    .unchecked {
        display: none;
    }
}

@mixin main-button {
    background: linear-gradient(0deg, $color-1st, $color-2nd);
    color: white;
    margin: 30px;
    padding: 15px 25px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 4px 4px  #00000040;
    transition: box-shadow 330ms ease-in-out;
    transition: filter 330ms ease-in-out;
    cursor: pointer;

    &:hover {
        filter: brightness(1.15);
        box-shadow: 0px 4px 15px 0px #00000059;
    }
}

.explore {
    text-align: center;
    padding: 30px 60px;
    font-family: $font-body;
    font-weight: 300;
    font-size: 18px;
    color: #353535;

    input {
        @include main-button;
    }
}

@mixin sections {
    font-family: $font-body;
    padding: 20px;
}

.fonctionnement {
    @include sections;
    background-color: white;
    padding-bottom: 40px;

    &-step {
        display: flex;
        align-items: center;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 10px;
    
        i {
            color: #7E7E7E;
            margin-right: 25px;
        }
    }

    &-badge {
        padding: 3px;
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-1st;
        color: white;
        border-radius: 50%;
        z-index: 2;
        font-size: 14px;
    }

    &-text {
        width: 90%;
        padding: 25px 30px;
        background-color: $color-bg;
        border-radius: 20px;
        box-shadow: 0px 4px 15px #00000026;
        margin-left: -10px;
        z-index: 1;
    }
}

.fa-store {
    color: $color-1st !important;
}

.restaurants {
    @include sections;

    &-cards {
        border-radius: 15px;
        background-color: white;
        margin-top: 20px;
    }

    &-pic {
        position: relative;
    
        img {
            width: 100%;
            border-radius: 15px 15px 0 0;
            height: 200px;
            object-fit: cover;
            object-position: 50% 60%;
        }
    }

    &-new {
        width: 80px;
        height: 29px;
        display: flex;
        position: absolute;
        top: 8px;
        right: 16px;
        background-color: #99E2D0;
        color: #008766;
        font-weight: 500;
        font-size: 14px;
        justify-content: center;    
        align-items: center;
        border-radius: 2px;
        box-shadow: 0px 2px 4px #00000026;
    }

    &-desc {
        padding: 13px 25px 20px 20px;
        font-size: 17px;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include heart-animation;
    }
}

h3 {
    margin: 5px 0px;
    font-weight: 700;
    font-size: 18px;
}

footer {
    background-color: #353535;
    padding: 30px;
    color: white;
    font-family: $font-body;
    font-size: 16px;
    font-weight: 400;

    img {
        color: white;
        filter: invert(100%);
        width: 30%;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li {
        margin-top: 10px;
    }

    a {
        color: white;
        text-decoration: none;
        &:visited {
            color: white;
        }
    }

    i {
        margin-right: 10px;
    }

    &-special {
        font-weight: 500;
    }
}


.fa-handshake-angle {
    font-size: 12px;
}

/* Desktop */

@media (min-width: 1025px) {

    header {
        padding: 25px;
        box-shadow: none;
    
        img {
            width: 200px;
        }
    }

    .location {
        padding: 15px;
        box-shadow: none;
    }

    h1 {
        font-size: 40px;
    }

    @mixin sections {
        padding: 40px 7vw;
    }

    .fonctionnement {
        @include sections;

        &-wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &-step {
            width: 32%;
    
            i {
                margin-right: 10px;
            }
        }

        &-text {
            width: 100%;
        }
    
        &-badge {
            width: 30px;
        }
    
    }

    .restaurants {
        @include sections;

        &-wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &-cards {
            width: 40vw;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    footer {
        @include sections;
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 10px;

        ul {
            display: flex;
            flex-direction: row;
            align-items: end;
            margin-right: 60px;

            li {
                margin: 0 20px;
            }
        }

        img {
            padding-bottom: 0px;
            width: 100px;
        }
    }



}